@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background: #0c4b53;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  font-weight: 100vw;
}
.signup-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 9000px;
}
.left-container {
  background: #568ece;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
}



.left-container .puppy:before {
  background: #251f7a;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.left-container img {
  filter: sepia(100%);
  width: 70%;
  /*Filtre Gif*/
}
.right-container {
  background: #395fa5;
  display: grid;
  grid-template-areas: "." ".";
  width: 800px;
  
}

.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  /*Espace entre le bouton */
}
.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}


.right-container header {
  padding: 40px;
}


.right-container footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
}
.right-container footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 100px;
  border-radius: 19px;
  font-family: 'Montserrat', sans-serif;
}

.right-container footer #back:hover {
  background: #171A2B;
  color: white;
}
.right-container footer #next {
  background: #807182;
  border: 1px solid transparent;
  color: #fff;
}
.right-container footer #next:hover {
  background: #171A2B;
}
.Prénom  label, .Nom label, .DateNaissance label, .NomBateau label,  .AdresseMail label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  /* alignement des cases*/
}


